.display-great{
    display: none;
}

.display-medium{
    display: none;
}

.display-mini{
    display: none;
}

.menu{
    padding-left: 0;
}

.menu li{
    display: inline;
    list-style-type: none;
}